* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

html {
  height: 100%;
}
html body {
  min-height: 100%;
  font-size: 42px;
  color: #555;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
}
html body .switcher {
  display: block;
  z-index: 111111;
  margin-left: 0px;
  position: fixed;
  right: 0;
  top: 200px;
  background: #fff;
  border: #ccc 1px solid;
  box-shadow: #ccc 0 0 2px;
  border-right: 0;
  font-size: 20px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 4px;
  padding: 10px 16px 10px 14px;
  cursor: pointer;
}
html body .switcher svg {
  font-size: 25px;
  fill: #222;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
#switcherModal {
  background: #fff;
  position: fixed;
  display: none;
  top: 200px;
  right: 0;
  direction: ltr;
  z-index: 111111;
  width: 220px;
  margin-right: 0;
  border-radius: 0 5px 5px 0;
  font-family: "Open Sans", Arial, sans-serif;
  box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
}
#switcherModal .sitcher__modal {
  padding: 16px;
  overflow: hidden;
}
#switcherModal .sitcher__modal h4 {
  padding: 5px 0;
  border-bottom: #ccc 1px solid;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px 0;
}
#switcherModal .sitcher__modal ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;
}
#switcherModal .sitcher__modal ul li {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 12px;
  display: inline-block;
}
#switcherModal .sitcher__modal ul li .colo {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 4px 2px;
  width: 30px;
  height: 30px;
}
#switcherModal .sitcher__modal ul li .colo img {
  vertical-align: middle;
  border-style: none;
}
#switcherModal .sitcher__modal__button {
  background-color: #82b440;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-shadow: none !important;
  height: 46px;
  line-height: 46px;
  color: #fff;
  padding: 0 33px;
  outline: none !important;
  overflow: hidden;
  position: relative;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#switcherModal .sitcher__modal__button span {
  position: relative;
  z-index: 2;
}
#switcherModal .sitcher__modal__button span svg {
  padding-right: 11px;
  height: 16px !important;
}
#switcherModal .sitcher__modal__button::after {
  position: absolute;
  content: "";
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  background-color: #555;
  transform: skew(-22deg);
  transition-duration: 0.6s;
  z-index: 1;
}
#switcherModal .sitcher__modal__button:hover::after {
  width: 180%;
}
#switcherModal .sitcher__modal #hideSwitcherModal {
  cursor: pointer;
  font-size: 38px;
  margin-bottom: 0px;
  color: #999;
  border: 1px solid #eee;
  border-right: 0;
  position: absolute;
  background-color: #fff;
  width: 40px;
  height: 40px;
  left: -40px;
  text-align: center;
  top: 0;
  border-radius: 4px 0 0 4px;
  line-height: 38px;
  border-left: 0;
}

.sections #home {
  background-image: url("./images/leftimage-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}
.sections #home::after {
  background-color: rgba(0, 0, 0, 0.85);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  content: "";
  position: absolute;
}
.sections #home .home {
  height: 100vh;
  width: 100%;
  display: table;
  margin-left: 50vw;
  max-width: 550px;
}
.sections #home .home img {
  position: fixed;
  border-radius: 50%;
  max-width: 320px;
  left: calc(50vw - 360px);
  top: calc(50vh - 160px);
  border: 10px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.sections #home .home__right {
  z-index: 13;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
.sections #home .home__right h3 {
  color: #eee;
  font-weight: 400;
  font-size: 19px;
  text-transform: uppercase;
}
.sections #home .home__right__text {
  color: #fff;
  font-size: 42px;
  line-height: 42px;
  font-weight: 500;
  margin: 19px 0 10px;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
}
.sections #home .home__right__text #homeChangeText {
  color: #2196F3;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  white-space: nowrap;
  text-transform: uppercase;
}
.sections #home .home__right p {
  color: #eee;
  margin: 11px 0 23px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
.sections #home .home__right__links {
  text-align: left !important;
}
.sections #home .home__right__links__left {
  background-color: #2196F3;
  border-radius: 26px;
  font-weight: 500;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 33px;
  outline: none !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  border: 0;
  box-shadow: none !important;
  margin-right: 25px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.sections #home .home__right__links__left span {
  position: relative;
  z-index: 2;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.sections #home .home__right__links__left span svg {
  padding-right: 11px;
  display: inline-block;
  height: 15px;
  fill: #fff;
}
.sections #home .home__right__links__left:hover {
  cursor: pointer;
}
.sections #home .home__right__links__left:hover::before {
  width: 180%;
}
.sections #home .home__right__links__left:before {
  position: absolute;
  content: "";
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  background-color: #555;
  transform: skew(-22deg);
  transition-duration: 0.6s;
  z-index: 1;
}
.sections #home .home__right__links__right {
  border: 1px solid #2196F3;
  color: #2196F3;
  background-color: transparent;
  box-shadow: none !important;
  border-radius: 26px;
  font-weight: 500;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 33px;
  outline: none !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.sections #home .home__right__links__right span {
  position: relative;
  z-index: 2;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.sections #home .home__right__links__right span svg {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 11px;
  height: 15px;
  fill: #2196F3;
}
.sections #home .home__right__links__right::before {
  position: absolute;
  content: "";
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  background-color: #555;
  transform: skew(-22deg);
  transition-duration: 0.6s;
  z-index: 1;
}
.sections #home .home__right__links__right:hover {
  cursor: pointer;
  color: #fff;
}
.sections #home .home__right__links__right:hover svg {
  fill: #fff;
}
.sections #home .home__right__links__right:hover::before {
  background-color: #2196F3;
  width: 180%;
}